@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('/assets/globe.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-left a {
    text-decoration: none;
    color: white;
}

/* Main section styling */
main {
    max-width: 400px;
    width: 100%;
    margin-top: 12rem;
    background: #444444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

/* Form section styling */
.profile-section h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
}

#register-form {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.submit-button {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
}

button {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: #191919;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 1rem;
}

button:hover {
    background-color: #0056b3;
}

#register-form p {
    display: block;
    text-align: center;
    padding-top: 6px;
    font-size: 1rem;
}

.profile-section p {
    display: block;
    text-align: center;
}

#back-to-login-form {
    text-decoration: none;
    color: #217EAA;
}

#back-to-login-form:hover {
    text-decoration: none;
    color: #0056b3;
}

/* Dropdown Menu Styling */
.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
    flex-direction: column;
    overflow: hidden;
}

.dropdown-menu.active {
    display: block;
}

.dropdown-item {
    padding: 10px 20px;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
